.container-fluid{
   padding: 1.5rem;
}

#action-row{
   padding-left: 15px;
   padding-right: 15px;
   padding-bottom: 10px;
} 

form{
   padding-top: 15px;
}

.card a[data-team-id]{
   color: black;
   text-decoration: none;
}

