.container-fluid{
   padding: 1.5rem;
}

#action-row{
   padding-left: 15px;
   padding-right: 15px;
   padding-bottom: 10px;
} 

form {
   padding: 15px;
   width: 100%;
   background-color: rgba(236, 236, 236, 0.897);
}

form button{
   margin-bottom: 15px;
}

.card a[data-team-id]{
   color: black;
   text-decoration: none;
}

#league-rows .card-header a[data-league-id]{
   color: black;
   text-decoration: none;
}

.date-month{
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   color: white;
   height: fit-content;
   padding: 5px;
   margin-bottom: auto;
}

.date-number{
   padding-top: 10px;
   height: 75%;
   color: white;
   margin-bottom: inherit;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}
